header {
    background-image:linear-gradient(to top, #ebd2464d,#ebd246 );
    margin: 90;
    padding:90;
    display:block;
    justify-content: space-around;
    padding: 54px;
    color: #000000;
}

.titulo1{
    font-size:80px;
    text-align: center;
    color: #000000;
    font-size: italic;
}

.soja.div.conteudo{
   margin-left: 300px;
   margin-top: 300px;
   margin-right:300px;
   height:550px;
   font-size:70px;
   text-align:center;
   font-style:italic;
   background-image:linear-gradient(to top, #ebd24641,#ebd2463f )
}

.body{
    background-color:#ebd24659;
}

.soja.titulo{
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 200px;
    height: 550px;
    font-size: 63px;
    text-align: center;
    font-style: italic;
    background-image: linear-gradient(to top, #ebd24662, #ebd24688);
}

.titulo.soja{
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 200px;
    height: 550px;
    font-size: 63px;
    text-align: center;
    font-style: italic;

}
.titulo.soja1{
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 200px;
    height: 550px;
    font-size: 63px;
    text-align: center;
    font-style: italic;
    background-image: linear-gradient(to top,#ebd24667, #ebd24670);
}
.foto.soja1



}